
#header>#logo{
    width: 150px;
    height: 100px;
    background-color: brown;
    float: left;
}

#header>#nav{
    width: 1050px;
    height: 100px;
    background-color: aquamarine;
    float: left;
   
}
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#gnb{
    width: 600px;
    height: 50px;
    background-color: aliceblue;
    position: relative;
    top: 50px;
    left: 400px;
}
#gnb>li{
    float: left;
}
#gnb>li>a{
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;

}
#gnb>li>a:hover{
    background-color: white;
    color: black;
}

#lnb>li{
    text-align: center;
}
#lnb>div{
    width: 150px;
    height: 50px;
    background-color: white;
}
#lnb>li>a{
    width: 150px;
    height: 50px;
    background-color: white;
    display: block;
    padding-top: 12px;
    box-sizing: border-box;
    
}
#lnb>li>a:hover{
    background-color: black;
    color: white;
}



