*{
margin:0;
padding:0;
}

div {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }

  .grad_45 {
    background: linear-gradient(45deg, blue, red);
  }
/* 45도로 기울어진 파랑 시작 빨강 종료 그레이디언트 */