@charset "utf-8";
/* common */
* {
    margin:0; padding:0;
}

ul {
    list-style:none;
}

a {
    text-decoration:none; color:inherit;
}

#wrap{
    width:1200px;
    height:700px;
    background: aqua;
}

#header{
    width:1200px;
    height:100px;
    background: aquamarine;
}

#main{
    width:1200px;
    height:500px;
    background: blueviolet;
}

#header{
    width:1200px;
    height:100px;
    background: brown;
}