div{
    display:inline-block;
}

#box1{
    border: 1px solid blue;
    background: rgb(61, 62, 117);
    width:100px;
    height:100px;
}

#box2{
    border: 1px solid red;
    background: yellow;
    width:100px;
    height:100px;

    position: relative;
    top: 40px; left: 40px;
}

#box3{
    border: 1px solid blue;
    background: rgb(61, 62, 117);
    width:100px;
    height:100px;
}