
#contents>#con1{
    width: 400px;
    height: 200px;
    float: left;
    background-color: yellowgreen;
}

#contents>#con2{
    width: 400px;
    height: 200px;
    float: left;
    background-color: paleturquoise;
}

#contents>#con3{
    width: 400px;
    height: 200px;
    float: left;
    background-color: darkgrey;
}