
*{
    margin:0;
    padding:0;
}

#box1{
    width:100px;
    height:100px;
    background:red;

    top:100px;
    left:100px;
}

#box2{
    width:100px;
    height:100px;
    background:blue;
    position: absolute;
    top:100px;
    left:100px;
}