*{
    margin:0; 
    padding:0;
}

#wrap{
width:100%;
height:500px;   
margin:0 auto;
background-color:aqua;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#wrap>#header{
    width:100%;
    height:100px;
    background-color:aquamarine;
}
